
&.is-large {
  @import 'caption/caption';
  @import '__full/baners__full';
  @import '__caption/baners__caption';
  @import '__text/baners__text';
  width: 100%;
  height: auto;
  color: #000;
  padding: 20px 130px 50px 130px;
  text-decoration: none;
  margin: 50px 0;
  img {
  }
}