
.page
	padding-right: 286px
	+box
	@extend %in
	+r
		//margin-right: 286px
		width: 100%
		padding: 0 300px 0 30px
	+r(w990)
		margin-right: 0
	+r(w900)
		padding: 0 30px
	.b-catalog &
		+r
			margin-right: 0 
.h2
	background: #F56541
	font-size: 17px
	text-transform: uppercase
	font-weight: normal
	height: 60px 
	line-height: 60px
	padding-left: 37px
	color: #fff 
	margin-bottom: 18px 
	+r(w600)
		text-align: center
		padding-left: 0 

.img-cover
	background-repeat: no-repeat
	background-size: cover

.b
	margin-bottom: 50px 
.more
	font-size: 14px 
	text-decoration: none
	color: #AF0A4E
	display: inline-block
	clear: both
	padding-top: 12px
	text-transform: lowercase
	margin-right: 20px 
	+r(w600)
		margin-left:  20px
.offers
	+clr
	margin: 0 -20px
.offer
	width: 33.333%
	//height: 345px
	float: left
	overflow: hidden
	position: relative
	padding: 0 20px
	+box
	text-decoration: none
	color: #fff
	+r

	+r(w600)
		width: 80%
		margin-left: 10%
		margin-bottom: 20px  
	img
		display: block
		width: 100% 
		
	&:first-child
		margin-left: 0 
		+r(w600)
			margin-left: 10% 
	.offer__text
		position: absolute
		top: 100% 
		left: 0
		right: 0
		height: 100%   
		background: rgba(#000, .8) 
		z-index: 10 
		padding: 0 25px 0 35px 
		+transition(all .2s ease-in-out)
		color: #fff 
		opacity: .4 
		font-size: 36px
		margin: 0 20px
		+r(w1200)
			font-size: 20px
	.offer__year
		color: #fff
		margin-bottom: 20px  
		padding-top: 35px
		font-size: 18px
	.offer__title
		color: #FC4A27
		line-height: 1 
		font-weight: normal
		+r
			font-size: 30px
	.offer__more
		font-size: 20px 
		color: #fff 
		line-height: 1.2 
		+r
			font-size: 15px
			padding-top: 2em
	.offer__type
		font-size: 21px 
		margin-top: 25px 
		+r
			font-size: 13px 
	&:hover
		.offer__text
			top: 0
			opacity: 1 
