@import "__in/header-kp__in";
@import "__in/__name-container/header-kp__name-container";
@import "__in/__date/header-kp__date";
@import "__in/__name/header-kp__name";
@import "__in/__logo/header-kp__logo";

.header-kp {
	box-sizing: border-box;
	.clearfix();
	background: @substrate;
	* {
		box-sizing: border-box;
	}
}