@import "__in/header__in";
@import 'is-nottop/is-nottop';

.header {
  height: @topbar;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 66px;
	background: #FFF;
	z-index: 5000;
  @import '__nav/header__nav';
  @import '__right/header__right';
}