@import "__content/popup__content";
.popup {
	display: none;
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	position: fixed;
	top: 0px;
	z-index: 6000;
	background: url("@{path-img}blur.jpg") no-repeat;
	background-size: cover;
}

.webkit, .chrome, .safari, .android, .ios, .opera {
	.popup {
		background: transparent;
	}
}