.entry__large__close {
  width: 35px;
  height: 33px;
  background: url("../assets/img/entry__large__close.png") 0 0 no-repeat;
  display: inline-block;
  position: absolute;
  right: -15px;
  top: -15px;
}