.wine__square__big {
  width: 74% !important;
  height: 900px !important;
  padding-top: 125px !important;
  @import 'big_show/big_show';
  @import '_about/wine_about';
  @import '_inf_price/wine_inf_price';
  @import '__price/wine__price';
  @import '__text/wine__text';
}