.wine__text {
  width: 62% !important;
  margin-right: 0 !important;
  p {
    padding: 0 50px 0 0;
    font-size: 13px !important;
    margin-bottom: 5px !important;
  }
  h2 {
    padding-right: 10px !important;
    line-height: 1 !important;
    a {
      font-size: 18px !important;
    }
  }
}