.offer__title {
	color: #FC4A27;
	line-height: 1;
	font-size: 44px;
}

@media only screen and (max-width: 1400px) {
	.offer .offer__title {
		font-size: 30px
	}
}

@media only screen and (min-width: 1680px) {
	.offer {
		.offer__title {
			font-size: 44px;
		}
	}
}
