.choosed_product_pic {
  width: 62px;
  height: 64px;
  float: left;
  text-align: center;
  margin-right: 8px;
  padding: 2px;
  img {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
  }
}