.choosed_product {
  @import '_pic/choosed_product_pic';
  @import '_text/choosed_product_text';
  @import '_type/choosed_product_type';
  @import '_act/choosed_product_act';
  border-bottom: 1px solid #B2B2B2;
  padding-bottom: 4px;
  margin-bottom: 1px;
}