.wine__price {
  top: 64px !important;
  background: url('../img/icons/price_alt.png') no-repeat -30px -23px !important;
  width: 179px;
  height: 103px;
  font-family: 'MyriadPro-Light';
  font-size: 24px;
}
