@import "__categ/search__categ";
@import "__categicon1/search__categicon1";
@import "__categicon2/search__categicon2";
@import "__categicon3/search__categicon3";
@import "__categicon4/search__categicon4";
@import "__filter/search__filter";
@import "__filter/is-last/is-last";
@import "__filters/search__filters";
@import "__options/search__options";
@import "__showall/search__showall";
@import "__switcher/search__switcher";
@import "__switcher/search__switcher1";
@import "__switcher/search__switcher2";
@import "__switcher/is-active/is-active";
@import "__title/search__title";
@import "_wide/search_wide";
@import '__close/search__close';
@import "is-notActive/is-notActive";
@import "__submit/search__submit";

.search {
	position: absolute;
	right: 0;
	top: 77px;
	width: 246px;
	border-radius: 10px;
	background: #FAFAFA;
	border: 1px solid #B2B2B2;
	padding-bottom: 23px
}

@media only screen and (max-width: 1400px) {
	.search {
		right: 20px;
		.search__switcher {
			.search__switcher1 {
				height: 56px;
				line-height: 56px;
			}
			.search__switcher2 {
				height: 56px;
				padding-top: 11px
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.search {
		display: none;
	}
}