@import "__in/logoslider__in";

.logoslider {
	position: relative;
	margin-bottom: 14px;
	margin-top: 12px;
	box-sizing: border-box;
	img {
		filter: grayscale(100%);
		margin: 0 15px;
	}
	* {
		box-sizing: border-box;
	}
}

@media only screen and (max-width: 1200px) {
	.logoslider {
		margin: 12px 0 14px;
	}
}