// Akrom General styles File
//@font-face {
//  font-family: mr;
//  src: url("fonts/MyriadPro-Light.eot");
//  src: url("fonts/MyriadPro-Light.eot?#iefix") format("embedded-opentype"),
//       url("fonts/MyriadPro-Light.woff") format("woff"),
//       url("fonts/MyriadPro-Light.ttf") format("truetype");
//  font-weight: 100;
//  font-style: normal;
//}
* {
	box-sizing: border-box;
}

@transparent_black: rgba(0, 0, 0, 0.8);
@h1_color: #B2004D;
h1, h2, h3, h4, h5 {
	font-family: 'MyriadPro-Light', sans-serif;
	font-weight: normal;
}

.std_content_paddings {
	padding-left: 10.15%;
	padding-right: 10.15%;
	padding-top: 4.4%;
}

.gradiente_block {
	background-image: -moz-linear-gradient(#FFF, #E6E7E8);
	background-image: -webkit-linear-gradient(#FFF, #E6E7E8);
	background-image: linear-gradient(#FFF, #E6E7E8);
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.4);
	border: 1px solid #B2B2B2;
	border-radius: 6px;
}

.orange_border {
	position: relative;
	&:before, &:after {
		position: absolute;
		height: 5px;
		width: 100%;
		top: 0;
		left: 0;
		content: "";
		background: url("@{path-img}icons-s51a623a2b8.png") 0 -1074px;
	}
	&:after {
		bottom: 0;
		top: auto;
	}

}

.pr0 {
	padding-right: 0;
}

input[type="radio"] {
	text-indent: -9999px;
	position: relative;
	width: 14px;
	height: 14px;
	&:before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		background: #FFF;
		border-radius: 50%;
	}
	&:after {
		border-radius: 50%;
	}
}

.h2 {
	font-size: 15px;
	padding-left: 70px;
}

.btn/*, .header .login*/  {
	padding: 0 24px;
	height: 21px;
	text-decoration: none;
	line-height: 22px;
}

.cat_item {
	text-align: center;
	span {
		position: static !important;
		display: block !important;
		background: none !important;
		margin-left: 0 !important;
		width: auto !important;
		font-size: 14px;
		color: #808080 !important;
		&:before {
			display: none !important;
		}
	}
}

.offer {
	.offer__text {
		padding: 0 25px 0 36px;
	}
	.offer__year {
		font-size: 37px;
		padding-top: 21px;
	}
	.offer__title {
		font-size: 44px;
	}
	.offer__more {
		font-size: 21px;
	}
}

.entry.entry_big {
	.entry__text {
		padding: 33px 40px 69px 30px;
		.entry__title {
			font-size: 30px;
		}
	}
}

// Slider
/*.superslider {
	height: 89.9vh;
	.superslider__text {
		padding: 0 71px;
	}
}*/

// Logoslider

/*.logoslider {
	margin-top: 24px;
	img {
		margin: 0 30px 0 0;
	}
}*/

//////////////Catalog Page

.filters {
	margin-bottom: 26px;
	padding-left: 57px;
	i {
		vertical-align: top;
		margin-top: 2px;
	}
}

.view {
	top: -6px;
	a {
		margin-left: 21px;
		padding: 0 32px;
		line-height: 40px;
	}
}

.catalog {
	margin-bottom: 61px;
	.more {
		padding-top: 0;
		margin-top: 7px;
		margin-right: 45px;
	}
}

///////////////End catalog Page

.lf {
	font-size: 42px;
	font-weight: normal;
	text-transform: none;
	line-height: 50px;
	padding-top: 8px;
	margin-bottom: 0;
}

.toggle_link {
	display: table;
	font-size: 14px;
	color: #B2B2B2;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
	span {
		display: block;
		margin-bottom: 15px;
		.font__MyriadPro-Light;
	}
	i {
		display: block;
		margin: 0 auto;
		width: 36px;
		height: 30px;
		background: url("@{path-img}icons-s51a623a2b8.png") 76px -858px;
	}
	&.active {
		span {
			display: none;
		}
		i {
			background: url("@{path-img}icons-s51a623a2b8.png") 40px -892px;
		}
	}
}

blockquote {
	.orange_border();
	font-size: 24px;
	text-align: center;
	width: 536px;
	line-height: 29px;
	padding: 33px 50px 40px;
	margin-top: 45px;
	margin-bottom: 40px;
	margin-right: 38px;
}

.mb_block {
	margin-bottom: 58px;
}

//////////////Appeal

.appeal {
	position: relative;
	.appeal_image {
		img {
			display: block;
		}
	}
	.appeal_content {
		padding-bottom: 53px;
		border-top: 0;
		border-radius: 0 0 6px 6px;
		article {
			.std_content_paddings();
			padding-left: 430px;
		}
		h1 {
			.lf();
			width: 250px;
			color: @h1_color;
			line-height: 1;
			float: left;
			margin-left: -288px;
			margin-bottom: 35px;
			margin-top: -3px;
			letter-spacing: -3px;
		}
		p {
			font-size: 16px;
			line-height: 19px;
			margin-bottom: 16px;
			.font__MyriadPro-Light;
		}
		blockquote {
			margin-left: -288px;
			float: left;
			.font__MyriadPro-Light;
		}
		.toggle_link {
			color: @text-color;
			&:hover {
				opacity: 0.6;
			}
		}
	}
	&.toggled {
		.appeal_content {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			color: @text-color;
			background: @white-transparent-8;
			width: 33.1%;
			border: 0 none;
			box-shadow: 0 0 0;
			border-radius: 0;
			article {
				padding: 61px 70px 85px 32px;
			}
			h1 {
				float: none;
				width: auto;
				color: @text-color;
				margin-left: 0;
			}
		}
	}
}

.toggled {
	.hided_content {
		display: none;
	}
}

///////////////End Appeal

////////////About Project

.about_project {
	.about_project_content {
		padding-bottom: 47px;
		.std_content_paddings();
		border-radius: 0 0 6px 6px;
		font-size: 16px;
		border-top: 0;
		article {
			padding-right: 25.7%;
			margin-bottom: 47px;
		}
		h1 {
			color: @h1_color;
			text-transform: uppercase;
			font-size: 36px;
			margin-top: 47px;
			margin-bottom: 10px;

		}
		h2 {
			font-weight: normal;
			font-size: 22px;
			line-height: 26px;
			margin-bottom: 13px;
			margin-top: 14px;
		}
		p.selected {
			.orange_border();
			padding: 18px 0 19px;
			strong {
				color: #FF4A15;
			}
		}
		p {
			margin-bottom: 12px;
			line-height: 19px;
		}
		ul {
			li {
				list-style: none;
				line-height: 19px;
				margin-bottom: 12px;
				&:before {
					content: "• ";
				}
			}
		}
	}
}

///////////End About Project


////////// EventSlider

.events {
	margin-bottom: 105px;
}

.eventslider {
	padding: 0 5.15%;
	position: relative;
	margin-top: 20px;
	.eventslider__in {
		.eventslider__slides {
			min-height: 392px;
			> .cycle-slide > .item > div {
				display: none;
			}
			.cycle-carousel-wrap {
				> div {
					margin-right: 40px;
					.item {
						position: relative;
						width: 392px;
						min-height: 392px;
						img {
							max-width: 100%;
							display: block;
						}
						div {
							position: absolute;
							left: 0;
							right: 0;
							bottom: 0;
							background: @white-transparent-8;
							color: @text-color;
							max-height: 100%;
							white-space: normal;
							padding: 31px 8px 29px 35px;
							font-family: 'MyriadPro-Light', sans-serif;
							h1 {
								line-height: 1;
								font-size: 30px;
								letter-spacing: -2px;
								word-spacing: -2px;
								margin-bottom: 19px;
							}
							p {
								font-size: 16px;
								line-height: 19px;
							}
						}
					}
				}
			}
		}
	}
	.eventslider__prev, .eventslider__next {
		position: absolute;
		width: 5.14%;
		top: 0;
		bottom: 0;
		left: 0;
		cursor: pointer;
		i {
			background: url("@{path-img}icons-s51a623a2b8.png") 0 -713px no-repeat;
			width: 20px;
			height: 37px;
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			margin-top: -18px;
		}
	}
	.eventslider__next {
		right: 0;
		left: auto;
		i {
			background: url("@{path-img}icons-s51a623a2b8.png") 0 -478px no-repeat;
			left: auto;
			right: 0;
		}
	}
}

///////// End EvenSlider
//
//.footer {
//	.footer__in {
//		padding: 65px 0 87px 0;
//	}
//	.footer__nav {
//		left: 101px;
//		font-size: 21px;
//		ul {
//			line-height: 24px;
//			position: relative;
//			top: -4px;
//			li {
//				display: inline-block;
//				width: 100%;
//			}
//		}
//	}
//	.footer__contacts {
//		left: 98px;
//		padding-left: 19px;
//		font-size: 14px;
//		h4 {
//			font-size: 21px;
//			line-height: 0.8;
//			margin-bottom: 11px;
//		}
//		p {
//			line-height: 1.25;
//		}
//	}
//}
//
//.warning {
//	background-size: auto;
//	max-width: none;
//
//}