/*
.map {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 99;
	opacity: 1;
	display: block;
	height: 70vh;
	width: 100%;
	background-size: cover;
	background-image: url(http://optimus-labs.com/nesco/img/slider/contacts-bg-1.jpg);
	background-position: 50% 50%;
	margin-top: 66px;
}

.contacts {
	border: 1px solid #B2B2B2;
	border-radius: 10px;
	margin-top: 29px;
	margin-bottom: 52px;
	padding: 100px 0 100px 70px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
	&__adress h1, &__branches h1, &__distributors__block h1 {
		font-size: 32px;
		font-family: mr, "MyriadPro-Light", Arial, sans-serif;
		text-transform: uppercase;
		color: @headline-color;
		margin-bottom: 6px;
	}
	p {
		font-size: 16px;
		font-family: mr, "MyriadPro-Light", Arial, sans-serif;
		color: @text-color;
		line-height: 19px;
	}
	&__on-off {
		margin-top: 42px;
	}
	&__border__block {
		width: 287px;
		box-sizing: border-box;
		margin: 0;
		margin-bottom: 35px;
		padding: 0;
		padding-left: 17px;
		float: left;
		min-height: 90px;
		border-left: 2px solid @substrate;
		h2 {
			margin-top: -2px;
			font-size: 24px;
			line-height: 20px;
			font-family: mr, "MyriadPro-Light", Arial, sans-serif;
			text-transform: uppercase;
			color: @headline-color;
		}
		p {
			margin-top: 8px;
			&:last-child {
				margin-bottom: 15px;
			}
		}
		.contacts__block__large {
			font-size: 18px;
			margin-top: 18px;
			line-height: 22px;
			span {
				font-family: mr, "MyriadPro-Regular", Arial, sans-serif;
				font-weight: bold;
			}
		}
	}
	&__branches {
		margin-top: 61px;
		h1 {
			margin-bottom: 21px;
		}
		p {
			margin-top: -1px;
		}
		.contacts__block__large {
			margin-top: -5px;
		}
	}
	&__distributors {
		margin-top: 32px;
		&__block {
			width: 287px;
			float: left;
			p {
				margin-top: 8px;
				&:last-child {
					margin-bottom: 15px;
				}
			}
			.contacts__block__large {
				font-size: 18px;
				margin-top: 7px;
				line-height: 22px;
				span {
					font-family: mr, "MyriadPro-Regular", Arial, sans-serif;
					font-weight: bold;
				}
			}
		}
	}
}
*/
