@import "screen";
@import "vars";
@import "../assets/=less=vars/vars";
@import "../assets/=less=mixins/mixins-components/fonts";
@import "../assets/=less=mixins/mixins";
@import "../assets/catalog/catalog";
@import '../assets/header/header';
@import '../assets/choosed/choosed';
@import '../assets/generator/generator';
@import '../assets/search/search';
@import "../assets/fancybox/fancybox";
@import '../assets/warning/warning';
@import '../assets/best-offers/best-offers';
@import '../assets/superslider/superslider';

#o_proekte-page, .b-catalog {
	@import 'akrom';
}

#o_dome-page, #o_dome-a-page {
	@import "house";
}

@import "../assets/blur/blur";
@import "../assets/popup/popup";
@import "../assets/entries/entries";
@import "../assets/footer/footer";
@import "../assets/entry-modal/entry-modal";
@import "../assets/signin-form/signin-form";
@import "../assets/header-kp/header-kp";
@import "../assets/page-kp-block/page-kp-block";

@import "contacts";
@import "wlabel";



/*common*/
.clearfix {
	zoom: 1;
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}

.h2 {
	height: auto;
	line-height: 46px;
	padding-top: 4px;
}

/*footer*/
.footer {
	margin: 0 auto;
	.footer__in {
		padding: 66px 0 86px;
		position: relative;
		.copyright {
			position: absolute;
			right: 0;
			bottom: 28px;
			color: #8C8C8C;
			//			font-family: "MyriadPro-Light", sans-serif;
			font-weight: 100;
			font-size: 13px;
		}
	}
	.footer__nav, .footer__contacts {
		//		font-family: "MyriadPro-Light", sans-serif;
		font-weight: 100;
		font-size: 20px;
		padding-left: 0;
		width: 355px;
		h4 {
			font-size: 20px;
		}
		p {
			font-size: 13px;
			line-height: 17px;
			margin-top: -2px;
		}
	}
	.footer__contacts {
		width: 361px;
	}
}

/*/footer*/

@media only screen and (max-width: 1870px) {
	.superslider {
		.superslider__playpause {
			right: 50%;
			margin-right: -420px;
		}
		.superslider__pagi {
			right: 50%;
			margin-right: -420px+15px+20px;
		}
	}
}

@media only screen and (max-width: 1600px) {
	.superslider {
		.superslider__next {
			right: 50%;
			margin-right: -420-15px;
		}
		.superslider__playpause {
			margin-right: -420-15px;
		}
		.superslider__pagi {
			margin-right: -385-15px;
		}
	}
}

@media only screen and (max-width: 1400px) {
	.superslider {
		.superslider__next {
			right: 30px+246px+20-12px;
			margin-right: 0;
		}
		.superslider__playpause {
			right: 30px+246px+20-12px;
			margin-right: 0;
		}
		.superslider__pagi {
			right: 30px+15px+246px+20px+20-12px;
			margin-right: 0;
		}
	}

/*	.b {
		.entries {
			.entry {
				width: 32.5%;
				&.entry_big {
					width: 63%;
				}
			}
		}
	}*/

	.pr0 {
		width: 100%;
		padding: 0 30px;
		margin: 0;
		.page {
			.search.search_wide {
				display: block;
				.search__input {
					padding: 0 @search_wide-width-small;
				}
				.search__filters {
					padding: 0 @search_wide-width-small;
					.search__filters__wrapper {
						height: 220px;
						overflow-y: hidden;
						border-bottom: solid 1px @border-color;
						position: relative;
						z-index: 0;
						.search__filters__wrapped {
							width: 1245px;
							height: auto;
							.search__filter {
								margin-right: @air;
								padding-right: @air;
								&.search__filter1,
								&.search__filter2,
								&.search__filter4,
								&.search__filter5 {
									width: 192px;
								}
								&.search__filter3 {
									width: 397px;
								}
							}
							.catslider {
								.catslider__in {
									.search__categ {
										margin: 0 auto;
										width: 320px;
										.cycle-slide {
											margin-right: 0;
										}
										.cycle-carousel-wrap {
											.cycle-slide {
												width: 80px;
												margin-right: 0;
												position: relative;
												.cat_item {
													text-align: center;
													width: auto !important;
													span {
														position: static !important;
														display: block !important;
														background: none !important;
														margin-left: 0 !important;
														width: auto !important;
														font-size: 14px;
														color: #808080 !important;
														&:before {
															display: none !important;
														}
													}
												}
											}
										}
									}
								}
								.catslider__next {
									right: 0;
								}
							}
						}
					}
					.search__message {
						display: block;
						&:after {
							content: '→';
							display: inline-block;
							margin-left: @air / 2;
						}
					}
				}
			}
		}
	}

	.footer {
		.footer__in {
			.copyright {
				position: relative;
				right: auto;
				bottom: auto;
				text-align: center;
				margin: 32px 0 0;
			}
		}
	}
}

@media only screen and (max-width: 1200px) {
	.logoslider {
		margin: 12px 0 14px;
	}

/*	.b {
		.entries {
			.entry {
				width: 48%;
				&.entry_big {
					width: 100%;
				}
			}
		}
	}*/
	.offers {
		padding: 0;
		margin: 0;
		* {
			box-sizing: border-box;
		}
		a.offer {
			width: 100%;
			margin-bottom: 20px;
			padding: 0;
			background: #323232;
			.offer__img {
				position: absolute;
				width: 30%;
				top: 0;
				right: auto;
				bottom: 0;
				left: 0;
				margin: 0;
				overflow: hidden;
				text-align: left;
				img {
					height: 100%;
					width: auto;
				}
			}
			.offer__text {
				opacity: 1;
				width: 70%;
				position: relative;
				margin: 0 0 0 30%;
				background: transparent;
				.offer__year {
					padding: 0;
					margin: 32px 0 16px;
				}
				.offer__more {
					padding: 0;
					margin: 16px 0;
				}
				.offer__type {
					margin: 16px 0 32px;
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	.header {
		.header__logo {
			left: 0;
		}
		.header__nav {
			left: 200px;
		}
	}

	.is-nottop {
		.header {
			.header__nav {
				left: 200px;
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	.header {
		.header__logo {
			height: @topbar;
			width: @topbar;
			overflow: hidden;
			box-shadow: none;
			border-radius: 0;
			i {
				top: 10px;
				left: 6px;
				width: 55px;
				height: 46px;
				background-position: 0 -974px;
			}
		}
		.header__nav {
			left: 100px;
		}
	}

	.is-nottop {
		.header {
			.header__nav {
				left: 100px;
			}
		}
	}
}

@media only screen and (max-width: 990px) {
	.header {
		.header__nav {
			a {
				margin-right: 24px;
			}
		}
	}
}

@media only screen and (min-width: 901px) and (max-width: 1024px) {
	.superslider {
		height: auto;
		.superslider__slide {
			height: @superslider-height - 6 !important;
		}
	}
	.mobile {
		.superslider {
			.superslider__slide {
				height: 450px !important;
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.mixin-layout-narrow();
}
@media only screen and (max-width: 840px) {
	.superslider {
		.superslider__next,
		.superslider__prev {
			display: none;
		}
	}
}

@media only screen and (max-width: 700px) {
	.header {
		.header__in {
			ul.header__nav {
				width: 400px;
				margin: 0 auto @air*2;
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	.header {
		.header__in {
			.header__right {
				position: absolute;
				display: block;
				text-align: right;
				top: 16px;
			}
			a.header__logo {
				height: 72px;
				margin: 8px 0 32px;
				float: left;
			}
			ul.header__nav {
				clear: left;
			}
		}
	}

	.superslider {
		.superslider__next,
		.superslider__prev,
		.superslider__text
		{
			display: none;
		}
		.superslider__playpause {
			right: @padding-base-horizontal/2;
		}
		.superslider__pagi {
			right: @padding-base-horizontal/2+20px+15px;
		}
		.superslider__text {
			left: @padding-base-horizontal/2;
		}
	}

	.page {
		padding: 0 @padding-base-horizontal/2;
		.offers {
			margin: 0x;
			a.offer {
				margin-left: 0;
				.offer__text {
				}
			}
		}
	}
}

@media only screen and (max-width: 400px) {
	.header {
		.header__in {
			.header__right {
				width: 122px;
				a.login {
					padding: 2px 22px 0;
				}
				.lang {
					margin-top: 24px;
				}
			}
			ul.header__nav {
				width: 288px;
				margin: 0 auto @air*2;
				clear: left;
			}
		}
	}
	.superslider {
		.superslider__playpause,
		.superslider__pagi,
		.superslider__text {
			display: none;
		}
	}
	.offers {
		.offer {
			.offer__img {
				img {
					margin-left: -70px;
				}
			}
			.offer__text {
				padding: 0 16px;
			}
		}
	}
}

.home-logos__list {
  margin-top: 56px;
}