@import '__full/item__full';
@import '__content/item__content';
@import '__head/item__head';
@import '__pic/item__pic';
@import '__text/item__text';
@import "__link/item__link";

.item {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0;
	a,
	a:hover,
	a:active {
		text-decoration: none !important;
	}
}