.wine__text {
  float: left;
  position: relative;
  z-index: 2;
  cursor: pointer;
  width: 39%;
  padding-top: 13px;
  margin-right: 1.5%;
  h2 {
    color: @headline-color;
    .font__MyriadPro-Light;
    padding-right: 50px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1.2 !important;
  }
  a {
    .font__MyriadPro-Light; 
    text-decoration: none;
    font-size: 24px;
    color: @link-color;
    line-height: 1.2 !important;
    margin-bottom: 15px;
  }
  p {
    .font__MyriadPro-Light; 
    font-size: 15px;
    font-style: italic;
  }
}