.search__switcher1 {
	border-radius: 0;
	position: absolute;
	left: 0;
	width: 51%;
	cursor: pointer;
//	height: 86px;
//	line-height: 86px;
	text-align: center;
//	border-top-left-radius: 10px;
	line-height: @search-switcher-height+3;
	height: @search-switcher-height !important;
	border-top-left-radius: @radius-mid - 1;
}