.actions {
  float: right;
  margin-right: 22px;
  margin-top: 2px;
  @import '__icon/actions__icon';
  @import '_collapse/actions_collapse';
  @import '_show/actions_show';
  @import '_resize/actions_resize';
  @import '_close/actions_close';
}