.text_field {
  .font__MyriadPro-Light;
  font-size: 20px;
  height: 34px;
  width: 76.95%;
  float: left;
  border-bottom: 1px dotted #b1b1b1;
  color: #383838;
  background: none;
  margin-right: 3.3%;
}