.best-offers__wrap__more {
	@import '__icon/best-offers__wrap__more__icon';
	@import '__text/best-offers__wrap__more__text';
	display: inline-block;
	float: right;
//	height: 60px;
	text-decoration: none;
	background: @headline-kp-color;
//	margin: -6px -73px 0 0;
	padding: 9px 73px 0;
	font-size: 24px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	&.is-active {
		.best-offers__wrap__more__icon {
			background-position: 40px -891px;
		}
	}
}