.hided_content {
	@import "purpose/purpose";
	@import "stages/stages";
	@import "mission/mission";
	@import "valuables/valuables";
	@import "benefits/benefits";
	@import "wine_brand/wine_brand";
/*	h1 {
		font-family: 'MyriadPro-Light' sans-serif !important;
	}
	h2 {
		font-family: mr,"Myriad Pro",Arial,sans-serif !important;
	}
	p {
		margin-bottom: 13px !important;
	}*/
}