.fancybox-close {
  display: none;
}

.fancy-close {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.fancybox-skin {
  padding: 0 !important;
  background: none;
  box-shadow: none !important;
}