.fancybox-button {
  // display: inline-block;
  // width: 250px;
  img {
    width: 250px !important;
    height: auto;
  }
}

.house__slider__thumbs__slide {
  // width: 250px !important;
}



.fancy-close {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.fancybox-skin {
  padding: 0 !important;
  background: none;
  box-shadow: none !important;
}