.superslider__pagi {
	position: absolute;
	bottom: 30px;
	right: 300px;
	text-align: right;
	margin-right: 12px;
	right: 30px+20px+15px;
	margin-right: 0;
	a,
	span {
		width: 10px;
		height: 10px;
		margin-left: 12px;
		display: inline-block;
		border-radius: 10px;
		border: 1px solid #999;
		font: 0/0 a;
		text-shadow: none;
		color: transparent;
		vertical-align: top;
	}
	a.cycle-pager-active,
	span.cycle-pager-active {
		background: #999
	}
}