@import "__name/page-kp-block__header__name";
@import "__compound/page-kp-block__header__compound";
@import "__displacement/page-kp-block__header__displacement";
@import "__price/page-kp-block__header__price";
.page-kp-block__header {
	.clearfix();
	width: 100%;
	> * {
		padding-right: 0 !important;
	}
	div {
		float: left;
		border-bottom: solid 1px @page-kp-block-border-bg-1;
		padding-right: @kp-columns-padding-right;
	}
}