.wine__type {
  width: 62% !important;
  margin-right: 0 !important;
}
.wine__type .wine__color {
  font-size: 14px !important;
  margin-bottom: 10px !important;
}
.wine__type .wine_type_in {
  font-size: 14px !important;
}
