.wine__type {
  padding-top: 15px;
  margin-right: 20px;
}
.wine__type .wine__color {
  font-family: 'MyriadPro-Light';
  font-size: 15px;
}
.wine__type .wine__color i {
  margin-top: -3px;
}
.wine__type p {
  font-family: 'MyriadPro-Light';
  font-size: 15px;
  margin-bottom: 0 !important;
}
