.wine__check {
	position: absolute;
	top: -7px;
	right: -5px;
	background: url("@{path-img}catalog/catalog_check.png") 0 0 no-repeat;
	width: 33px;
	top: -6px;
	right: -7px;
	height: 37px;
	right: 0;
}
