.search__categ {
	@import 'is-checkbox/is-checkbox';
	@import '_item/cat_item';
	i {
		display: block;
		margin: 0 auto 5px auto;
		min-height: 38px;
		width: 27px;
		height: 44px;
		background-repeat: no-repeat;
	}
	li {
		a:hover {
			span {
				display: block !important;
			}
		}
	}
}

