.search__filter {
  margin-top: 32px;
  padding-top: 9px;
  padding-left: 0;
  margin-right: 2.16%;
  float: left;
  @import '__title/search__title';
  @import '__options/search__options';
  &.search__filter1,
  &.search__filter2,
  &.search__filter4,
  &.search__filter5 {
    width: 14.88%;
    padding-right: 0.5%;
    margin-left: 0;
  }
  &.search__filter5 {
    margin-right: 0;
  }
  &.search__filter3 {
    width: 31.84%;
  }
}