.admin__tools {
	@import "__welcome/admin__tools__welcome";
	@import "../submit/submit";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: @admin-sidebar-width;
	padding: 32px;
	background: @admin__tools-bg;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;
	label {
		display: inline-block;
		float: none;
		color: @admin__label-color;
		font-weight: 300;
	}
	input[type='text'] {
		border-bottom: 1px dotted @popup-devider-color-dark;
		background: transparent;
		&:focus {
			color: @nav-color-active;
		}
	}
	textarea {
		background: lighten(@admin__tools-bg, 5%);
		border: solid 1px @popup-devider-color-dark;
		border-radius: @brd-radius-s;
		padding: @brd-radius-s;
		&:hover {
			border-color: @nav-color-active;
		}
		&:focus {
			border-color: @nav-color-active;
			box-shadow: 0 0 6px fadeOut(@nav-color-active, 70%), inset 0 0 4px fadeOut(@nav-color-active, 70%);
		}
	}
	a {
		color: @link-color;
		text-decoration: none;
		&:hover {
			color: @nav-color-active;
		}
		&:visited {
			color: @link-color;
			&:hover {
				color: @nav-color-active;
			}
		}
	}
}