.admin__tools {
	@import "__welcome/admin__tools__welcome";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: @admin-sidebar-width;
	padding: 32px;
	background: @admin__tools-bg;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 14px;
	a {
		color: @link-color;
		text-decoration: none;
		&:hover {
			color: @nav-color-active;
		}
		&:visited {
			color: @link-color;
			&:hover {
				color: @nav-color-active;
			}
		}
	}
}