@import "__adress/contacts__adress";
@import "__branches/contacts__branches";
@import "__distributors/contacts__distributors";
@import "__on-off/contacts__on-off";
@import "__border-block/contacts__border-block";

.contacts {
	border: 1px solid #B2B2B2;
	border-radius: 10px;
	margin-top: 29px;
	margin-bottom: 52px;
	padding: 100px 0 100px 70px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	p {
		font-size: 16px;
		font-family: mr, "MyriadPro-Light", Arial, sans-serif;
		color: @text-color;
		line-height: 19px;
	}
	* {
		box-sizing: border-box;
	}
}