.search__switcher2 {
	position: absolute;
	right: 0;
	top: 0;
	width: 51%;
//	padding-top: 20px;
	text-align: center;
	line-height: 1.1;
//	border-top-right-radius: 10px;
  padding-top: 11px;
  border-top-right-radius: @radius-mid - 1;
  height: @search-switcher-height;
}