.manufacturer_details {
	input {
		width: @admin-fields-column;
	}
	select {
		width: @admin-fields-column;
	}
	table {
		border-spacing: 0px 6px;
		border-collapse: separate;
		max-width: @admin-tools-row-max-width;
		width: @admin-tools-row-width;
		margin: 16px 0 32px;
		tr {
			th {
				border-left: 1px solid @admin__tools-substrate-bg;
				border-right: 1px solid @admin__tools-substrate-bg;
				color: @admin__label-color;
				font-weight: 300;
				&:last-of-type {
					border: none;
				}
			}
			td {
				border-radius: @brd-radius-s 0 0 @brd-radius-s;
				padding: 6px;
				background: @WHITE-color-base;
				vertical-align: middle;
				line-height: 0;
				text-align: center;
				&:last-of-type {
					background: transparent;
					border-radius: 0 @brd-radius-s @brd-radius-s 0;
					padding: 0;
					position: relative;
					width: 48px;
					border: none;
					a {
						color: transparent;
						border-radius: 0 @brd-radius-s @brd-radius-s 0;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background: @footer-bg;
						line-height: 1.5;
						&:before {
							content: '[X]';
							position: absolute;
							top: 50%;
							left: 50%;
							width: 32px;
							height: 32px;
							margin-top: -16px;
							margin-left: -16px;
							line-height: 32px;
							color: @footer-text-color;
							&:hover {
								color: @WHITE-color-base;
							}
						}
						&:hover {
							color: transparent;
							background: @nav-color-active;
							&:before {
								color: @WHITE-color-base;
							}
						}
					}
				}
				img {
					height: auto;
					max-width: 100%;
				}
			}
		}
	}
}