.manufacturer_details {
	input {
		width: @admin-fields-column;
	}
	select {
		width: @admin-fields-column;
	}
	table {
		border-spacing: 0px 4px;
		border-collapse: separate;
		max-width: @admin-tools-row-max-width;
		width: @admin-tools-row-width;
		margin: 16px 0 32px;
		tr {
			th {
				border-left: 1px solid @admin__tools-substrate-bg;
				border-right: 1px solid @admin__tools-substrate-bg;
				color: @admin__label-color;
				font-weight: 300;
				&:last-of-type {
					border: none;
				}
			}
			td {
				padding: 4px;
				background: /*@admin__tools-substrate-bg*/ @WHITE-color-base;
				vertical-align: middle;
				line-height: 0;
				border-radius: @brd-radius-s 0 0 @brd-radius-s;
				text-align: center;
				&:last-of-type {
					background: @footer-bg;
					line-height: 1.5;
					border-radius: 0 @brd-radius-s @brd-radius-s 0;
					a {
						color: @footer-text-color;
						&:hover {
							color: @nav-color-active;
						}
					}
				}
			}
		}
	}
}