.search .search__filter {
	width: 143px;
	padding-left: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin: 0 auto;
	border-bottom: 1px solid #999;
	&.is-last {
		border-bottom: none;
		padding-bottom: 0;
	}
	&.is-hidden {
		display: none
	}
}

.b-catalog .search .search__filter {
	float: left;
	width: 169px;
	margin-top: 33px;
	padding-top: 12px;
}






