.mxn-container {
	width: 100%;
	position: relative;
	@media only screen and (min-width: 1400px) {
		width: 1400px;
		margin: 0 auto;
	}
	@media only screen and (max-width: 900px) {
		text-align: center;
		left: auto;
		top: auto;
	}
}

.mxn-buttons-s {
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	background: #F56541;
	-webkit-box-shadow: 0 4px 10px rgba(245, 101, 65, 0.4);
	box-shadow: 0 4px 10px rgba(245, 101, 65, 0.4);
	text-decoration: none;
	height: auto;
	line-height: 20px;
	padding: 2px 20px 0;
	display: inline-block;
}

// Clearfix
//
// For modern browsers
// 1. The space content is one way to avoid an Opera bug when the
//    contenteditable attribute is included anywhere else in the document.
//    Otherwise it causes space to appear at the top and bottom of elements
//    that are clearfixed.
// 2. The use of `table` rather than `block` is only necessary if using
//    `:before` to contain the top-margins of child elements.
//
// Source: http://nicolasgallagher.com/micro-clearfix-hack/

.clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}