@import "vars";
@import "fonts";
@import "mixins";
@import "blur/blur";
@import "top/top";
@import "popup/popup";
@import "entries/entries";
@import "search/search";
@import "hide/hide";
<<<<<<< HEAD
@import "map/map";
@import "contacts/contacts";
@import "footer/footer";
@import "logoslider/logoslider";
@import "page/page";
@import "header-kp/header-kp";
@import "page-kp-block/page-kp-block";
=======
>>>>>>> FETCH_HEAD

body, html {
	height: 100%;
}

body {
	font-size: 12px;
	font-family: mr, "Myriad Pro", Arial, sans-serif;
	line-height: 1.4;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus {
	outline: none;
}