//======================================
// Colors
//======================================

// basic palette
@WHITE-color-base:						#FFF;
@CLOUDS-color-base:						#ECF0F1;
@SILVER-color-base:						#BDC3C7;
@CONCRETE-color-base:					#95A5A6;
@ASBESTOS-color-base:					#7F8C8D;
@ALIZARIN-color-base:					#E74C3C;
@CARROT-color-base:						#e67e22;
@ORANGE-color-base:						#f39c12;
@SUN-FLOWER-color-base:					#F1C40F;
@NEPHRITIS-color-base:					#27ae60;
@EMERALD-color-base:					#2ECC71;
@TURQUOISE-color-base:					#1abc9c;
@GREEN-SEA-color-base:					#16a085;
@BELIZE-HOLE-color-base:				#2980b9;
@PETER-RIVER-color-base:				#3498DB;
@AMETHYST-color-base:					#9b59b6;
@WISTERIA-color-base:					#8e44ad;
@MIDNIGHT-BLUE-color-base:				#2c3e50;
@WET-ASPHALT-color-base:				#34495e;
@CELADON-color-base:					#0e2b39;
@BLACK-color-base:						#000;
/// basic palette

// element colors
@nav-color:								#383838;
@nav-color-active:						#FC4A27;
/// element colors