.choosed_services {
  @import '_icon/choosed_services_icon';
  text-align: right;
  margin-top: 7px;
  position: absolute;
  bottom: 52px;
  right: 60px;
  width: 88%;
  height: 50px;
  background-color: #fff;
  a {
    display: inline-block;
    height: 25px;
    margin-top: 15px;
    &:last-child i {
      margin-right: 0;
    }
  }
}