@import "__yes/popup__content__yes";
@import "__no/popup__content__no";
.popup__content {
	border-radius: 8px;
	width: 610px;
	height: 470px;
	padding: 70px 90px;
	background: @panel-black-bg;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -305px;
	margin-top: -235px;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	box-shadow: 2px 2px 15px black;
	.popup__content__logo {
		background: url('../img/icons-s51a623a2b8.png') 0 -275px no-repeat;
		width: 115px;
		height: 122px;
		display: block;
		margin: 0 auto 24px;
	}
	h1 {
		font-size: 32px;
		text-align: center;
		font-weight: lighter;
		color: @panel-black-h-color;
	}
	input {
		display: none;
	}
	label {
		position: relative;
		margin-top: 20px;
		cursor: pointer;
		font-size: 24px;
		display: inline-block;
		color: @panel-black-text-color;
		&:after {
			content: '';
			width: 30px;
			height: 30px;
			position: absolute;
			bottom: -40px;
			left: 0;
			border: 1px solid #B1B1B1;
			background: linear-gradient(top, white 50%, #E3E3E3);
			background: -o-linear-gradient(top, white 50%, #E3E3E3);
			background: -ms-linear-gradient(top, white 50%, #E3E3E3);
			background: -moz-linear-gradient(top, white 50%, #E3E3E3);
			background: -webkit-linear-gradient(top, white 50%, #E3E3E3);
		}
		&:after {
			left: -2px;
		}
		&.active:after {
			background: url(../img/radio_active.png) no-repeat 50%, linear-gradient(top, white 50%, #E3E3E3);
			background: url(../img/radio_active.png) no-repeat 50%, -ms-linear-gradient(top, white 50%, #E3E3E3);
			background: url(../img/radio_active.png) no-repeat 50%, -o-linear-gradient(top, white 50%, #E3E3E3);
			background: url(../img/radio_active.png) no-repeat 50%, -moz-linear-gradient(top, white 50%, #E3E3E3);
			background: url(../img/radio_active.png) no-repeat 50%, -webkit-linear-gradient(top, white 50%, #E3E3E3);
		}
	}
}