body.b-catalog .choosed_list_container {
  position: fixed;
  top: 65px;
  right: 50%;
  margin-right: -690px;
  background-color: #000;
  border-radius: 0 0 12px 12px;
  width: 700px;
  padding: 0 12px 0 10px;
  z-index: 1100;
  &.collapsed {
    .choosed_list_content {
      display: none;
    }
  }
  .popup-title_mini {
    display: none;
    position: absolute;
    background: #333;
    font-size: 11px;
    color: #E5E5E5;
    left: -10px;
    top: -35px;
    padding: 2px 4px;
  }
  .choosed_list_header {
    padding: 17px 0 12px;
    .heading {
      color: #E5E5E5;
      font-size: 16px;
      display: inline-block;
      margin-left: 47px;
      word-spacing: 2px;
      float: left;
    }
    .actions {
      float: right;
      margin-right: 22px;
      margin-top: 2px;
      .actions__icon {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 14px;
        border-style: solid;
        border-width: 1px;
        margin-left: 27px;
        &.action_collapse {
          border-width: 0;
          border-bottom-width: 3px;
          border-bottom-color: #E5E5E5;
        }
        &.action_show {
          border-color: #E5E5E5;
          border-top-width: 3px;
        }
        &.action_resize {
          background: url('../img/full_size_icon.png') 0 0 no-repeat;
          border: none;
          width: 24px;
          height: 13px;
          display: inline-block;
        }
        &.action_close {
          background: url('../img/action_close_icon.png') 0 0 no-repeat;
          border: none;
          width: 15px;
          height: 16px;
          display: inline-block;
        }
        span {
          .popup-title_mini
        }
        &:hover span {
          display: inline-block;
        }
      }
    }
  }
  .choosed_services {
    text-align: right;
    margin-top: 7px;
    position: absolute;
    bottom: 52px;
    right: 60px;
    width: 88%;
    height: 50px;
    background-color: #fff;
    a {
      display: inline-block;
      height: 25px;
      margin-top: 15px;
      &:last-child i {
        margin-right: 0;
      }
    }
    .choosed_services_icon {
      position: relative;
      span {
        .popup-title_mini
      }
      &:hover span {
        display: inline-block;
      }
    }
  }
  .choosed_services_icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
  }
  .services_mail_icon {
    background: url('../img/services_mail_icon.png') 0 0 no-repeat;
    width: 22px;
    height: 25px;
  }
  .services_print_icon {
    background: url('../img/services_print_icon.png') 0 0 no-repeat;
    width: 23px;
    height: 22px;
  }
  .services_call_icon {
    background: url('../img/services_call_icon.png') 0 0 no-repeat;
    width: 20px;
    height: 20px;
  }
  .choosed_list_content {
    border-top: 1px solid #000;
    background-color: #FFF;
    padding: 30px 42px 25px 25px;
    max-height: 360px;
    overflow-y: auto;
    overflow-x: hidden;
    .choosed_product {
      border-bottom: 1px solid #B2B2B2;
      padding-bottom: 4px;
      margin-bottom: 1px;
      .choosed_product_pic {
        width: 62px;
        height: 64px;
        float: left;
        text-align: center;
        margin-right: 8px;
        padding: 2px;
        img {
          display: inline-block;
          max-height: 100%;
          max-width: 100%;
        }
      }
      .choosed_product_text {
        width: 390px;
        float: left;
        padding-top: 8px;
        a {
          font-family: 'MyriadPro-Light';
          text-decoration: none;
          font-size: 18px;
          color: #b2004d;
          line-height: 1;
        }
        span {
          display: inline-block;
          margin-bottom: 4px;
          font-size: 12px;
          color: #383838;
        }
        em {
          font-style: italic;
          font-size: 14px;
          color: #383838;
          font-family: 'MyriadPro-Light';
        }
      }
      .choosed_product_type {
        width: 88px;
        float: left;
        padding-top: 8px;
        span {
          display: block;
          font-family: 'MyriadPro-Light';
          font-size: 12px;
        }
      }
      .choosed_product_act {
        width: 36px;
        float: right;
        margin-top: 15px;
        .checked, .checked_plus {
          width: 36px;
          height: 36px;
          background: url(../img/icons/checked2.png);
          cursor: pointer;
          position: relative;
          span{
            .popup-title_mini 
          }
          &:hover span{
            display: inline-block;
          }
        }
        .checked_plus {
          background: url(../img/icons/checked3.png);
        }
      }
    }
  }
}