.wine__info {
	position: absolute;
	background: url("@{path-img}catalog/catalog_info.png") 0 0 no-repeat;
	width: 33px;
	height: 33px;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	top: -7px;
	right: 49px;
	z-index: 2;
	display: block;
}