.contacts__distributors {
	margin-top: 32px;
	h1 {
		.headline1;
	}
	&__block {
		width: 287px;
		float: left;
		p {
			margin-top: 8px;
			&:last-child {
				margin-bottom: 15px;
			}
		}
		.contacts__block__large {
			font-size: 18px;
			margin-top: 7px;
			line-height: 22px;
			span {
				.font__MyriadPro-Regular;
			}
		}
	}
}