@import '__img/entry__large__img';
@import '__title/entry__large__title';
@import '__text/entry__large__text';
@import '__close/entry__large__close';

.entry__large {
  color: #000;
  padding: 20px 130px 50px 130px;
  display: none;
  position: relative;
  letter-spacing: 0.01em;
  font-family: 'MyriadPro-Light',Sans-Serif;
}