.superslider__text {
	position: absolute;
	margin-left: -700px;
	left: 50%;
	bottom: 30px;
	color: white;
	line-height: 1;
	font-size: 100px;
	text-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
	span {
		font-size: 20px;
		display: block;
	}
}