.superslider__text {
	position: absolute;
	//	margin-left: -700px;
	//	left: 50%;
	left: 30px;
	bottom: 30px;
	color: white;
	line-height: 1;
	font-size: 100px;
	text-shadow: -5px 0 5px rgba(0, 0, 0, 0.5);
	span {
		font-size: 20px;
		display: block;
	}
}

@media only screen and (max-width: 1400px) {
	.superslider__text {
		font-size: 50px;
	}
}

@media only screen and (max-width: 600px) {
	.superslider__text {
		display: none;
		left: @padding-base-horizontal/2;
	}
}

@media only screen and (max-width: 400px) {
	.superslider__text {
		display: none;
	}
}