.contacts__border-block {
	.contacts__block__large {
		font-size: 18px;
		margin-top: -2px;
		line-height: 22px;
		span {
			font-family: mr, "MyriadPro-Regular", Arial, sans-serif;
			font-weight: bold;
		}
	}
}