@import "__definition/page-kp-block__category__row__position__definition";
@import "__country/page-kp-block__category__row__position__country";
.page-kp-block__category__row__position {
	width: 100%;
	// margin: 0 0 10px 0;
	padding-right: 0 !important;
	// border-bottom: dotted 1px @headline-kp-color !important;
	> * {
		padding-right: @kp-columns-padding-right;
		margin: 0;
	}
}
