.is-nottop .header__logo {
	height: 66px;
	width: 66px;
	left: 0;
	overflow: hidden;
	box-shadow: none;
	border-radius: 0;
	i {
		top: 10px;
		left: 6px;
		width: 55px;
		height: 46px;
		background-position: 0 -974px;
	}
}