.wine__price {
	bottom: 30px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	right: auto;
	left: 0;
	height: 50px;
	position: absolute;
	color: #FFF;
	padding-left: 15px;
	line-height: 60px;
	top: 64px !important;
	background: url("@{path-img}icons/price_alt.png") no-repeat -30px -23px !important;
	width: 179px;
	.font__MyriadPro-Light;
	font-size: 24px;
}
