.appeal_content {
	padding-bottom: 53px;
	border-top: 0;
	border-radius: 0 0 6px 6px;
	article {
		.std_content_paddings();
		padding-left: 430px;
	}
	h1 {
		.lf();
		width: 250px;
		color: @h1_color;
		line-height: 1;
		float: left;
		margin-left: -288px;
		margin-bottom: 35px;
		margin-top: -3px;
		letter-spacing: -3px;
	}
	p {
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 16px;
		.font__MyriadPro-Light;
	}
	blockquote {
		margin-left: -288px;
		float: left;
		.font__MyriadPro-Light;
	}
	.toggle_link {
		color: @text-color;
		&:hover {
			opacity: 0.6;
		}
	}
}