.appeal_content {
	padding-bottom: 53px;
//	border-top: 0;
//	border-radius: 0 0 6px 6px;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	color: @text-color;
	background: @white-transparent-8;
	width: 33.1%;
	border: 0 none;
	box-shadow: 0 0 0;
	border-radius: 0;
	article {
//		.std_content_paddings();
//		padding-left: 430px;
		padding: 61px 70px 85px 32px;
	}
	h1 {
		font-size: 42px;
		text-transform: none;
		line-height: 42px;
		padding-top: 5px;
		margin-bottom: 35px;
		float: none;
		width: auto;
		color: @text-color;
		margin-left: 0;
	}
	p {
		font-size: 16px;
		line-height: 19px;
		margin-bottom: 16px;
		.font__MyriadPro-Light;
	}
	blockquote {
		margin-left: -288px;
		float: left;
		.font__MyriadPro-Light;
	}
	.toggle_link {
		color: @text-color-arrow;
	}
}