.search__filter {
  padding: 4px 24px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  border-bottom: 1px dashed #CCC;
  input {
    margin-left: 1px;
  }
  @import 'nth-of-type/nth-of-type';
}