.open-filter__icon {
  display: inline-block;
  background: url("@{path-img}open-filter__icon.png") 0 0 no-repeat;
  width: 20px;
  height: 21px;
  vertical-align: middle;
  margin-top: -5px;
  margin-left: 10px;
}