@import "pr0/pr0";

.page {
	width: 1400px;
	margin: 0 auto;
	padding: 0 230px 0 0;
	box-sizing: border-box;
	@import 'search/search';
}

@media only screen and (max-width: 990px) {
	.page {
		margin-right: 0;
	}
}

@media only screen and (max-width: 900px) {
	.page {
		padding: 0 @padding-base-horizontal;
	}
}

@media only screen and (max-width: 1400px) {
	.b-catalog .page {
		margin-right: 0;
	}
	.page {
//		width: 100%;
		padding: 0 300px 0 @padding-base-horizontal;
		width: 100%;
		margin: 0;
	}
}

@media only screen and (min-width: 1680px) {
	.center {
		width: 1400px;
	}
}

@media only screen and (max-width: 600px) {
	.page {
		padding: 0 @padding-base-horizontal/2;
		.offers {
			margin: 0x;
			a.offer {
				margin-left: 0;
				.offer__text {
				}
			}
		}
	}
}