.wine__full__info {
	.font__MyriadPro-Light;
  clear: both;
  float: none;
  font-size: 16px;
  padding: 35px 50px 10px 55px;
  display: none;
  z-index: 2;
  .best-offers__wrap__in {
    display: block;
  }
}
