.radios_section_row {
  margin-bottom: 1.5px;
  position: relative;
  .inputs {
    width: 64px;
    float: left;
    line-height: 20px;
    text-align: right;
    margin-right: 11px;
  }
  .radio {
    vertical-align: middle;
    display: inline-block;
  }
  .text {
    display: block;
    border: 1px solid #999;
    max-width: 100%;
    height: 21px;
  }
}