.search__options {
	@import 'is-radio/is-radio';
	@import 'is-checkbox/is-checkbox';
	list-style: none;
	font-size: 14px;
	color: #7F7F7F;
	overflow: hidden;
	.font__MyriadPro-Light;
	input {
		margin-right: 6px;
	}
}