.search__reset {
  text-align: right;
  padding-top: 12px;
  margin-bottom: 15px;
  padding-right: 90px;
  a {
    color: #B00A4E;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #B00A4E;
    padding-bottom: 2px
  }
}

.search__reset,
.search__pdf {
  text-transform: uppercase;
  &.search__reset {
    padding-top: 3px;
    padding-right: 18px;
    margin-bottom: 20px;
  }
  &.search__pdf {
    padding-right: 18px;
    i {
      margin-top: -3px;
    }
    span {
      padding-bottom: 0;
      line-height: 1.3;
    }
  }
}