.search__reset,
.search__pdf {
  text-transform: uppercase;
  &.search__reset {
    padding-top: 3px;
    padding-right: 18px;
    margin-bottom: 20px;
  }
  &.search__pdf {
    padding-right: 18px;
    i {
      margin-top: -3px;
    }
    span {
      padding-bottom: 0;
      line-height: 1.3;
    }
  }
}