.search__switcher {
  height: @search-switcher-height;
  border-radius: @radius-mid - 1 @radius-mid - 1 0 0;
  @import '__switcher1/search__switcher1';
  @import '__switcher2/search__switcher2';
  a {
    font-size: 15px;
    .font__MyriadPro-Light;
  }
  &:before {
    display: none;
  }
}