.page-kp-block__category__row__position__definition {
	float: right !important;
	display: inline-block;
	.font__MyriadPro-Light;
	color: @headline-kp-color;
	padding-right: 0 !important;
	b {
		.font__MyriadPro-Regular;
	}
}