.is-radio {
  display: inline-block;
  background: url("@{path-img}is-radio.png") left 3px no-repeat;
  padding-left: 20px;
  &.is-active {
    background: url("@{path-img}is-radio-active.png") left 3px no-repeat;
  }
}