.is-radio {
  display: inline-block;
  background: url('../img/is-radio.png') left top no-repeat;
  padding-left: 20px;
  &.is-active {
    background: url('../img/is-radio-active.png') left top no-repeat;
  }
}