@import "_-allow/blur_-allow";
@import "_-disallow/blur_-disallow";
@import "_-popup-launched/blur_-popup-launched";
.blur {
	overflow: hidden;
	transition: all 1s;
	height: 100%;
/*	filter: blur(10px);*/ // временно отключен
}