.footer__nav {
	.font__MyriadPro-Light;
	border-left: 2px solid #F56541;
	min-height: 130px;
//	padding-left: 20px;
//	width: 360px;
	display: inline-block;
//	color: #8C8C8C;
//	font-size: 17px;
	text-align: left;
	vertical-align: top;
	position: relative;
//	left: 100px;
	font-weight: 100;
	font-size: 20px;
	padding-left: 0;
//	width: 355px;
	width: auto;
	left: 0;
	margin: 0 16px;
	padding-right: 2px;
//	font-size: 20px;
//	padding-left: 0;
//	border-left: 2px solid @substrate;
//	min-height: 130px;
//	display: inline-block;
	color: @footer-text-color;
//	text-align: left;
//	vertical-align: top;
//	position: relative;
	>* {
		margin: 6px 0 0 20px;
		line-height: 24px;
	}
	h4 {
		font-size: 20px;
	}
	p {
		font-size: 13px;
		line-height: 17px;
		margin-top: -2px;
	}
	ul {
		list-style: none;
	}
	a {
		color: @footer-text-color;
		text-decoration: none;
		&:hover {
			color: @footer-text-hover-color;
		}
	}
}