.footer__nav {
	width: auto;
	left: 0;
	margin: 0 16px;
	padding-right: 2px;
	font-family: mr, "MyriadPro-Light", Arial, sans-serif;
	font-weight: normal;
	font-size: 20px;
	padding-left: 0;
	border-left: 2px solid @substrate;
	min-height: 130px;
	display: inline-block;
	color: @footer-text-color;
	text-align: left;
	vertical-align: top;
	position: relative;
	>* {
		margin: -3px 0 0 20px;
		line-height: 24px;
	}
	ul {
		list-style: none;
	}
	a {
		color: @footer-text-color;
		text-decoration: none;
		&:hover {
			color: @footer-text-hover-color;
		}
	}
}