.choosed_product_act {
  width: 36px;
  float: right;
  margin-top: 15px;
  .checked, .checked_plus {
    width: 36px;
    height: 36px;
    background: url("../assets/img/icons/checked2.png");
    cursor: pointer;
    position: relative;
    span{
      .popup-title_mini 
    }
    &:hover span{
      display: inline-block;
    }
  }
  .checked_plus {
	  background: url("../assets/img/icons/checked3.png");
  }
}