.signin-form__checkbox {
	position: relative;
	display: block;
	min-height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	label {
		padding-left: 20px;
		margin: 0;
		font-weight: 400;
		cursor: pointer;
		display: inline-block;
		max-width: 100%;
		font-size: 14px;
		line-height: 1.4;
	}
	[type=checkbox] {
		position: absolute;
		margin: 4px 0 0 -20px;
		line-height: normal;
		padding: 0;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
	}
}