@import 'item/item';
@import 'fancybox/fancybox';

.eventslider {
	padding: 0 5.15%;
	position: relative;
	margin-top: 20px;
	@import "__in/eventslider__in";
	@import "__prev/eventslider__prev";
	@import "__next/eventslider__next";
}
