.choosed_product_text {
  width: 390px;
  float: left;
  padding-top: 8px;
}
.choosed_product_text a {
  font-family: 'MyriadPro-Light';
  text-decoration: none;
  font-size: 18px;
  color: #b2004d;
  line-height: 1;
}
.choosed_product_text span {
  display: inline-block;
  margin-bottom: 4px;
  font-size: 12px;
  color: #383838;
}
.choosed_product_text em {
  font-style: italic;
  font-size: 14px;
  color: #383838;
  font-family: 'MyriadPro-Light';
}
