.header {
	@import "__in/header__in";
	position: absolute;
	height: auto;
	bottom: 0;
	right: auto;
	width: 230px;
	min-width: 230px;
	background-color: @footer-bg;
	color: @footer-text-color;
	overflow-x: hidden;
	overflow-y: auto;
}