.btn {
  line-height: 40px;
  font-size: 16px;
  text-transform: uppercase;
  padding: 0 0 36px;
  width: 270px;
  text-align: center;
  font-family: 'MyriadPro-Light';
  i {
    margin-top: -5px;
  }
}