.warning {
  height: 106px;
  background: #B2B2B2 url("../assets/img/warning.png") no-repeat 50% 50%;
  background-size: contain;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}