.map {
	position: relative;
	top: 0px;
	left: 0px;
	z-index: 99;
	opacity: 1;
	display: block;
	height: 70vh;
	width: 100%;
	background-size: cover;
	background-image: url(http://optimus-labs.com/nesco/img/slider/contacts-bg-1.jpg);
	background-position: 50% 50%;
	margin-top: 66px;
}