.search__options {
  font-size: 16px;
  line-height: 1.2;
  span {
    overflow: hidden;
    display: block;
  }
  input {
    float: left;
    margin-left: 0;
    margin-right: 12px;
    margin-top: 4px;
    clear: left;
  }
}