.superslider__slide {
//	height: 70vh;
	width: 100%;
	background-size: cover;
	display: none;
	background-position: 50% 50%;
	height: 100%;
	@import '__text/superslider__text';
	&:nth-of-type(5) {
		background-position: 50% bottom;
	}
}