.open-filter__name {
	.font__MyriadPro-Light;
	color: @open-filter-text-color;
	vertical-align: middle;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 0.01em;
	line-height: 50px;
}

&:hover {

	.open-filter__name {
		color: @open-filter-hover-text-color;
	}
}