@import "__logo/footer__logo";
@import "__nav/footer__nav";
@import "__contacts/footer__contacts";
@import "__copyright/footer__copyright";

.footer__in {
	padding: 66px 0 86px;
	position: relative;
	width: 100%;
	margin: 0 auto;
}