@import "../css/screen.css";
@import "vars";
@import url(http://fonts.googleapis.com/css?family=Roboto:300|Roboto+Condensed:300&subset=cyrillic-ext,latin);
#o_proekte-page, .b-catalog {
	@import 'akrom';
}
#o_dome-page, #o_dome-a-page {
	@import "house";
}
@import "blur-common";
.webkit, .chrome, .safari, .android, .ios, .opera {
	@import "blur";
}
@import "blur-alt";


/*common*/
.h2 {
	height: auto;
	line-height: 46px;
	padding-top: 4px;
}

/*h3 {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 300;
}*/

/*/common*/

/*top*/
.header {
	height: @topbar;
	.header__nav {
		li {
			a {
				height: @topbar - 3;
				line-height: @topbar - 3;
				font-size: 18px;
				padding-top: 3px;
			}
		}
	}
	select.header__nav {
		top: 22px;
	}
	.header__right {
		top: 20px;
		right: 20px;
		.login {
			height: auto;
			line-height: 20px;
			padding: 2px 20px 0;
		}
	}
}

.is-nottop {
	.header {
		.header__logo {
			height: @topbar;
			width: @topbar;
			i {
				top: 10px;
				left: 6px;
			}
		}
		.header__nav {
			left: 296px;
		}
	}
}

.search {
	border-radius: @radius-mid;
	&.var-2 {
		border-radius: 0;
		.search__switcher {
			border-radius: 0;
			.search__switcher1 {
				border-top-left-radius: 0;
			}
			.search__switcher2 {
				border-top-right-radius: 0;
			}
		}
		.search__options {
			font-size: 15px;
		}
	}
	&.var-3 {
		border-radius: @radius-mid;
		.search__switcher {
			border-radius: @radius-mid - 1 @radius-mid - 1 0 0;
			.search__switcher1 {
				border-top-left-radius: @radius-mid;
			}
			.search__switcher2 {
				border-top-right-radius: @radius-mid;
			}
		}
	}
	.search__switcher {
		height: @search-switcher-height;
		border-radius: @radius-mid - 1 @radius-mid - 1 0 0;
		a {
			font-size: 17px;
		}
		.search__switcher1 {
			line-height: @search-switcher-height;
			height: @search-switcher-height !important;
			border-top-left-radius: @radius-mid - 1;
		}
		.search__switcher2 {
			padding-top: 11px;
			height: @search-switcher-height - 11px !important;
			border-top-right-radius: @radius-mid - 1;
		}
		&:before {
			display: none;
		}
	}
	.search__filters {
		.search__filter {
			padding-top: @air/4;
			padding-bottom: @air/4;
			width: 152px;
			input {
				margin-left: 1px;
			}
			&:nth-of-type(3) {
				padding-bottom: @air/2;
				.search__showall {
					display: none;
				}
				.search__categ {
					margin-left: -@air - 24px;
					margin-right: -@air;
					text-align: center;
					li {
						width: 20%;
						position: relative;
						label {
							span {
								display: none;
								position: absolute;
								background: fadeout(@tooltip-bg, 50%);
								color: @tooltip-text;
								bottom: 22px;
								left: 50%;
								margin-left: -35px;
								padding: 0;
								width: 70px;
								border-radius: @radius-mid;
								&:before {
									content: '';
									position: absolute;
									bottom: -@air/3;
									left: 50%;
									margin-left: -@air/3;
									width: 0;
									height: 0;
									border-left: @air/3 solid transparent;
									border-right: @air/3 solid transparent;
									border-top: @air/3 solid fadeout(@tooltip-bg, 50%);
								}
							}
						}
						&:hover {
							label {
								span {
									display: block;
								}
							}
						}
						&:last-of-type {
							margin-right: 0;
						}
					}
				}
			}
		}
	}
}

.superslider {
	margin-top: @topbar;
	overflow: hidden;
	height: @superslider-height;
	.superslider__slide {
		height: 100%;
		display: none;
		&:nth-of-type(4) {
			background-position: bottom;
		}
		&:nth-of-type(6) {
			background-position: bottom;
		}
		&:nth-of-type(9) {
			background-position: bottom;
		}
		&:nth-of-type(7) {
			background-position: 50%;
		}
		.superslider__text {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: 300;
			bottom: 60px;
			span {
				font-family: mr, "Myriad Pro", Arial, sans-serif;
			}
		}
	}
	.superslider__in {
		height: auto;
		width: 100%;
		left: 0;
		bottom: 0;
		margin: 0;
	}
	&.var-2 {
		height: @superslider-height - 7;
		.superslider__slide {
			height: 100%;
		}
		.superslider__text {
			font-family: "Roboto Condensed", sans-serif;
			font-weight: 300;
			span {
				font-family: mr, "Myriad Pro", Arial, sans-serif;
			}
		}
	}
	.superslider__next {
		right: 30px;
	}
	.superslider__playpause {
		right: 30px;
	}
	.superslider__pagi {
		right: 30px+20px;
	}
}

/*/top*/

/*footer*/
.footer {
	margin: 0 auto;
	.footer__in {
		padding: 66px 0 86px;
		position: relative;
		.copyright {
			position: absolute;
			right: 0;
			bottom: 28px;
			color: #8C8C8C;
//			font-family: "Roboto", sans-serif;
			font-weight: 100;
			font-size: 13px;
		}
	}
	.footer__nav, .footer__contacts {
//		font-family: "Roboto", sans-serif;
		font-weight: 100;
		font-size: 20px;
		padding-left: 0;
		width: 355px;
		> * {
			margin: -4px 0 0 20px;
			line-height: 24px;
		}
		h4 {
			font-size: 20px;
		}
		p {
			font-size: 13px;
			line-height: 17px;
			margin-top: -2px;
		}
	}
	.footer__contacts {
		width: 361px;
	}
}

.warning {
	height: 106px;
	background: #B2B2B2 url(../img/warning.png) no-repeat 50% 50%;
	background-size: contain;
	max-width: none;
	padding-left: 0;
	padding-right: 0;
	margin: 0 auto;
}
/*/footer*/

@media only screen and (max-width: 1870px) {
	.superslider {
		.superslider__playpause {
			right: 50%;
			margin-right: -420px;
		}
		.superslider__pagi {
			right: 50%;
			margin-right: -420px+15px+20px;
		}
	}
}

@media only screen and (max-width: 1600px) {
	.superslider {
		height: @superslider-height - 6;
		.superslider__next {
			right: 50%;
			margin-right: -420px;
		}
		&.var-2 {
			height: @superslider-height;
		}
	}
}

@media only screen and (max-width: 1400px) {
	.superslider {
		.superslider__next {
			right: 30px+246px+20px;
			margin-right: 0;
		}
		.superslider__playpause {
			right: 30px+246px+20px;
			margin-right: 0;
		}
		.superslider__pagi {
			right: 30px+15px+246px+20px+20px;
			margin-right: 0;
		}
	}
}

@media only screen and (max-width: 1100px) {
	.header {
		.header__logo {
			left: 0;
		}
		.header__nav {
			left: 200px;
		}
	}

	.is-nottop {
		.header {
			.header__nav {
				left: 200px;
			}
		}
	}
}

@media only screen and (max-width: 1000px) {
	.header {
		.header__logo {
			height: @topbar;
			width: @topbar;
			overflow: hidden;
			box-shadow: none;
			border-radius: 0;
			i {
				top: 10px;
				left: 6px;
				width: 55px;
				height: 46px;
				background-position: 0 -974px;
			}
		}
		.header__nav {
			left: 100px !important;
		}
	}
}

@media only screen and (max-width: 990px) {
	.header {
		.header__nav {
			a {
				margin-right: 24px;
			}
		}
	}
}

@media only screen and (max-width: 900px) {
	.superslider {
		.superslider__next {
			right: 30px;
			margin-right: 0;
		}
		.superslider__playpause {
			right: 30px;
			margin-right: 0;
		}
		.superslider__pagi {
			right: 30px+20px+15px;
			margin-right: 0;
		}
	}
}