/*Colors*/
@black:											#000;
@dark:											#333;
@deep-gray:										#7F7F7F;
@white:											#FFF;
@magenta:                                       #B2004D;
@dark-red:                                      #822126;

@button-bg:										#F56541;

@tooltip-bg:									@black;
@tooltip-text:									@white;
@superslirer-overay:							fadeOut(@black, 50%);
@searchicon-bg:									fadeOut(@white, 30%);
@popup-bg:										fadeOut(@white, 30%);
@popup-devider-color-dark:						fadeOut(@black, 70%);
@popup-devider-color-light:						fadeOut(@white, 70%);
/*/Colors*/

/*Metric*/
@topbar:										66px;
@air:											16px;
@radius-mid:									4px;
@radius-min:									2px;
@search-switcher-height:						56px;
@superslider-height:							76vh; /*80.3vh*/
/*/Metric*/
