/*Colors*/
@black:											#000;
@dark:											#333;
@deep-gray:										#7F7F7F;
@white:											#FFF;
@magenta:                                       #B2004D;
@dark-red:                                      #822126;

@button-bg:										#F56541;

@tooltip-bg:									@black;
@tooltip-text:									@white;
/*/Colors*/

/*Metric*/
@topbar:										66px;
@air:											16px;
@radius-mid:									4px;
@radius-min:									2px;
@search-switcher-height:						56px;
@superslider-height:							76vh; /*80.3vh*/
/*/Metric*/
