.choosed_list_container {
	z-index: 1100;
}
.appeal_hiden_content blockquote {
	float: left;
}
.appeal_hiden_content blockquote {
	float: left;
}
.appeal_hiden_content {
	display: none;
	padding-top: 60px;
	padding-bottom: 50px;
	padding-left: 145px;
	padding-right: 145px;

}
.appeal_margin {
	margin-bottom: 0 !important;
}
.appeal_hiden_content p {
	font-family: mr,"Myriad Pro",Arial,sans-serif;
	font-size: 16px;
	margin-bottom: 20px;
	padding-left: 290px;
}
.appeal_hiden_content h1 {
	font-family: mr,"Myriad Pro",Arial,sans-serif !important;
	float: left;
	font-size: 42px;
	color: #A40050;
	width: 260px;
	font-weight: bold;
}
.appeal_hiden_content .toggle_link {
	margin-top: 80px !important;
}
.appeal_hiden_content .toggle_link i {
	background-position: 40px -892px !important;
}
.about_progect_margin {
	margin-top: 58px;
}
.arrow_rotate i {
	background-position: 40px -892px !important;
}
.about_project_content .toggle_link {
	position: relative;
	left: 14px;
}
.about_project .h2 {
	font-family: 'roboto' sans-serif;
}