.choosed_list_container {
	z-index: 1100;
}
.appeal_hiden_content blockquote {
	float: left;
	font-style: italic;
}
.appeal_hiden_content {
	display: none;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 145px;
	padding-right: 145px;

}
.appeal_margin {
	margin-bottom: 0 !important;
}
.appeal_hiden_content p {
	font-family: mr,"Myriad Pro",Arial,sans-serif;
	font-size: 16px;
	margin-bottom: 15px;
	line-height: 20px !important;
	padding-left: 286px;
}
.appeal_hiden_content article p {
	margin-top: 8px;
	line-height: 19px !important;
}
.appeal_hiden_content article {
	margin-bottom: 2px;
}
.appeal_hiden_content h1 {
	line-height: 44px;
	font-family: 'MyriadPro-Light' sans-serif !important;
	float: left;
	padding-top: 2px;
	font-size: 42px;
	color: #A40050;
	width: 260px;
	font-weight: bold;
}
.appeal_hiden_content .toggle_link {
	margin-top: 40px !important;
}
.director {
	margin-top: 53px;
}
.director .name {
	font-weight: bold;
	font-family: mr,"Myriad Pro",Arial,sans-serif !important;
	font-size: 18px;
	margin-bottom: 0;
}
.director span {
	font-size: 16px;
	padding-left: 287px;
}
.appeal_hiden_content .toggle_link i {
	background-position: 40px -892px !important;
}
.about_progect_margin {
	margin-top: 57px;
}
.arrow_rotate i {
	background-position: 40px -892px !important;
}
.about_project_content .toggle_link {
	position: relative;
	left: 15px;
}
.about_project .h2 {
	padding-top: 0;
	font-family: 'MyriadPro-Light' sans-serif;
}
.about_project_content .hided_content h1 {
	font-family: 'MyriadPro-Light' sans-serif !important;
}
.about_project_content .hided_content .purpose ul {
	margin-top: 13px;
	margin-bottom: 66px;
}
.about_project_content .hided_content .purpose ul li {
	margin-bottom: 13px !important;
}
.about_project_content .hided_content p {
	margin-bottom: 13px !important;
}

.about_project_content .hided_content .stages {
	margin-bottom: 58px;
}
.about_project_content .hided_content .stages h1 {
	margin-bottom: 25px !important;
}
.about_project_content .hided_content .mission {
	margin-bottom: 59px;
}
.about_project_content .hided_content .mission p {
	margin-top: 13px;
}
.about_project_content .hided_content h2 {
	font-family: mr,"Myriad Pro",Arial,sans-serif !important;	
}
.about_project_content .hided_content .valuables h2 {
	margin-bottom: 28px !important;
}
.about_project_content .hided_content .valuables div {
	margin-top: 28px;
}
.about_project_content .hided_content .valuables ul {
	margin-top: -15px;
	margin-bottom: 23px;
}
.about_project_content .hided_content .benefits {
	margin-top: 60px;
}
.about_project_content .hided_content .benefits div {
	margin-top: -8px;
}
.about_project_content .hided_content .benefits ul {
	margin-top: -1px;
	margin-bottom: 30px;
}
.about_project_content .hided_content .benefits div ul {
	margin-bottom: 25px;
}
.about_project_content .hided_content .benefits .first {
	margin-top: 13px !important;
	margin-bottom: 27px !important;
}
.about_project_content .hided_content .wine_brand {
	margin-top: 57px;
}
.about_project_content .hided_content .wine_brand p {
	text-transform: uppercase;
	color: #3B3B3B;
	margin-top: -2px;
	margin-bottom: 0 !important;
}
.about_project_content .hided_content .purpose h1 {
	margin-bottom: 10px !important;
	margin-top: 66px !important;
}