.choosed_services_icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
  span {
    .popup-title_mini
  }
  &:hover span {
    display: inline-block;
  }
}