@import "arrow_rotate/arrow_rotate";

.about_project_content {
	@import "toggle_link/toggle_link";
	padding-bottom: 47px;
	.std_content_paddings();
	border-radius: 0 0 6px 6px;
	border-top: 0;
	margin-top: -@section__headline__margin-bottom;
	.content;
	article {
		padding-right: 25.7%;
		margin-bottom: 47px;
	}
}