.search__close {
  .font__MyriadPro-Light;
  color: #af0a4e;
  display: table;
  text-decoration: none;
  border-bottom: 1px solid;
  margin: 20px auto;
  text-transform: uppercase;
  font-size: 16px;
}