.search_wide.search {
	border-radius: 8px;
	@import '__switcher/search__switcher';
	@import '__filters/search__filters';
}

.search.search_wide {
	@import '__input/search__input';
	@import '__switcher/search__switcher2';
	@import '__filter/search__filter';
	@import '__message/search__message';
	@import '__reset/search__reset';
	@import 'catslider/catslider';
  * {
    box-sizing: border-box;
  }
  position: static;
  width: auto;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  display: none;
  padding: 25px 0 35px;
  margin-bottom: 58px;
  border-radius: 8px;
}