.choosed_list_content {
  @import '_product/choosed_product';
  border-top: 1px solid #000;
  background-color: #FFF;
  padding: 30px 42px 25px 25px;
  max-height: 360px;
  overflow-y: auto;
  overflow-x: hidden;
}