.choosed_product_text {
  width: 390px;
  float: left;
  padding-top: 8px;
  a {
    .font__MyriadPro-Light;
    text-decoration: none;
    font-size: 18px;
    color: #b2004d;
    line-height: 1;
  }
  span {
    display: inline-block;
    margin-bottom: 4px;
    font-size: 12px;
    color: #383838;
  }
  em {
	.font__MyriadPro-Light;
    font-style: italic;
    font-size: 14px;
    color: #383838;
  }
}