.offer__year {
	color: @text-color;
	margin-bottom: 20px;
	padding-top: 35px;
	font-size: 18px;
	font-size: 37px;
	padding-top: 21px;
}

@media only screen and (min-width: 1680px) {
	.offer {
		.offer__year {
			font-size: 37px;
			padding-top: 21px;
		}
	}
}
