.map {
	position: relative;
	height: 860px;
	margin: 0 auto;
	background-color: #000;
	overflow-x: visible;
	overflow-y: hidden;
}

@import '__title/map__title';
@import '__inner/map__inner';
@import '-title/-title';