.orange_border {
  position: relative;
  &:before, &:after {
    position: absolute;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
    content: "";
    background: url("@{path-img}icons-s51a623a2b8.png") 0 -1074px;
  }
  &:after {
    bottom: 0;
    top: auto;
  }
}