.is-checkbox {
  display: inline-block;
  background: url("../assets/img/is-checkbox.png") left top no-repeat;
  padding-left: 20px;
  &.is-active {
    background: url("../assets/img/is-checkbox-active.png") left top no-repeat;
  }
}