.logoslider__next {
	top: 50% !important;
	left: auto;
	right: 0;
	background: url('../img/icons-s51a623a2b8.png') 0 -478px no-repeat;
	width: 21px;
	height: 37px;
	position: absolute;
	cursor: pointer;
	margin-top: -18.5px;
}