.header__logo {
	left: 0;
	overflow: hidden;
	box-shadow: none;
	border-radius: 0;
	height: @topbar;
	width: @topbar;
	i {
		background: url("@{path-img}icons-s51a623a2b8.png") 0 -974px no-repeat;
		width: 55px;
		height: 46px;
		position: absolute;
		top: 10px;
		left: 6px;
	}
}