.search__pdf {
	text-align: right;
	color: #B00A4E;
	font-size: 16px;
	padding-right: 90px;
	a {
		color: #B00A4E;
		text-decoration: none;
	}
	i {
		display: inline-block;
		background: url("@{path-img}icons-s51a623a2b8.png") 0 -557px no-repeat;
		width: 30px;
		height: 31px;
		margin-right: 10px;
		vertical-align: middle
	}
	span {
		border-bottom: 1px solid #B00A4E;
		padding-bottom: 2px;
		display: inline-block;
		vertical-align: middle
	}
}