.search__categ {
  text-align: center;
  li {
    width: 20%;
    position: relative;
    a {
      span {
        display: none;
        position: absolute;
        background: fadeout(@tooltip-bg, 50%);
        color: @tooltip-text;
        bottom: 22px;
        left: 50%;
        margin-left: -35px;
        padding: 0;
        width: 70px;
        border-radius: @radius-mid;
        &:before {
          content: '';
          position: absolute;
          bottom: -@air/3;
          left: 50%;
          margin-left: -@air/3;
          width: 0;
          height: 0;
          border-left: @air/3 solid transparent;
          border-right: @air/3 solid transparent;
          border-top: @air/3 solid fadeout(@tooltip-bg, 50%);
        }
      }
    }
    &:hover {
      label {
        span {
          display: block;
        }
      }
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}