.catslider__prev {
  background: url('../img/icons-s51a623a2b8.png') 0 -713px no-repeat;
  width: 20px;
  height: 37px;
  position: absolute;
  top: 50%;
  margin-top: -18.5px;
  left: 0;
  cursor: pointer;
}