@import "_big/entry_big";
@import "__text/entry__text";
@import "__img/entry__img";
@import '__large/entry__large';
@import '__introtext/entry__introtext';

.entry {
	@import 'is-large/is-large';
	transition: all 2.5s;
	float: left;
	width: 33.333333333%;
	height: 230px;
	position: relative;
	text-decoration: none;
	color: #FFF;
	margin-bottom: 16px;
	overflow: hidden;
	font-family: "MyriadPro-Light", sans-serif;
	box-sizing: border-box;
	padding: 0 20px;
	* {
		transition: all .2s ease-in-out;
	}
}