@import "_big/entry_big";
@import "__text/entry__text";
@import "__img/entry__img";
@import '__large/entry__large';

.entry {
	@import 'is-large/is-large';
	transition: all 1s;
	float: left;
	width: 33.333333333%;
	height: 230px;
	position: relative;
	text-decoration: none;
	color: #FFF;
	margin-bottom: 16px;
	overflow: hidden;
	font-family: "MyriadPro-Light", sans-serif;
	box-sizing: border-box;
	padding: 20px;
	// &:last-child {
		// float: right
	// }
}