.modal-entry {
	width:740px;
	padding: 16px 0;
	display: none;
	font-size: 18px;
	line-height: normal;
	box-sizing: border-box;
	* {
		box-sizing: border-box;
		padding: 0 32px;
	}
	h3 {
		.font__MyriadPro-Light;
		font-size: 32px;
		line-height: normal;
		color: @headline-color;
		margin: 16px 0;
	}
	p {
		margin-bottom: 16px;
	}
	img {
		margin-bottom: 16px;
		padding: 0;
		width: 100%;
		height: auto;
	}
}