.modal-entry {
	width:740px;
	display: none;
	font-size: 18px;
	line-height: normal;
	padding: 32px;
	box-sizing: border-box;
	h3 {
		.font__MyriadPro-Light;
		font-size: 32px;
		line-height: normal;
		color: @headline-color;
		margin: 24px 0 16px;
	}
	p {
		margin-bottom: 16px;
	}
	img {
		margin-bottom: 16px;
	}
}