&.is-filter {
  @import '__next/superslider__next';
}

@media only screen and (max-width: 1870px) {
	.superslider.is-filter {
		.superslider__next {
			right: 50% !important;
			margin-right: -420px !important;
		}
		.superslider__playpause {
			right: 50% !important;
			margin-right: -420px !important;
		}
		.superslider__pagi {
			right: 50% !important;
			margin-right: -420px+15px+20px !important;
		}
	}
}


@media only screen and (max-width: 1600px) {

	.superslider.is-filter {
		.superslider__next {
			margin-right: -400px-15px;
		}
		.superslider__playpause {
			margin-right: -420-15px;
		}
		.superslider__pagi {
			margin-right: -385-15px;
		}
	}

	.superslider {
		.superslider__next {
			right: 50%;
			margin-right: -685px
		}
		.superslider__playpause {
			margin-right: -665px;
		}
		.superslider__pagi {
			margin-right: -630px;
		}
	}
}