.superslider__playpause {
	position: absolute;
	right: 280px;
	bottom: 30px;
	background: url("@{path-img}icons-s51a623a2b8.png") 0 -525px no-repeat;
	width: 15px;
	height: 22px;
	cursor: pointer;
	right: 30px;
	margin-right: 0;
	&:active {
		bottom: 28px;
	}
}