@import "__name-container/header-kp__name-container";
@import "__date/header-kp__date";
@import "__name/header-kp__name";
@import "__logo/header-kp__logo";
.header-kp__in {
	.clearfix();
	width: @container-kp-width;
	padding: 0 208px 0 @container-kp-padding;
	margin: 0 auto;
	position: relative;
}