.field {
  position: relative;
  @import 'text_field/text_field';
  @import 'text_field_company/text_field_company';
  span {
    font-size: 18px;
    color: #383838;
    font-family: 'MyriadPro-Light';
    position: absolute;
    top: 13px;
    right: 0;
    bottom: 0;
    width: 23.05%;
    padding: 0 0 0 41px;
  }
}