.search__input {
  padding: 0px 72px 0 69px;
  margin-bottom: 23px;
  @import '__inputicon/search__inputicon';
  input {
    padding: 2px 0 0px 21px;
    height: 34px;
    font-size: 16px;
    font-family: mr, sans-serif;
    display: block;
    width: 100%;
    margin-right: -34px;
    float: left;
    line-height: 1;
  }
}