.piter-title {
  background: url('../img/title/piter-title.png') 0 0 no-repeat;
  width: 62px;
  height: 30px;
  top: 357px;
  left: 348px;
}

.kaliningrad-title {
  background: url('../img/title/kaliningrad-title.png') 0 0 no-repeat;
  width: 73px;
  height: 32px;
  top: 318px;
  left: 169px;
}

.pskov-title {
  background: url('../img/title/pskov-title.png') 0 0 no-repeat;
  width: 59px;
  height: 20px;
  top: 372px;
  left: 249px;
}

.novgorod-title {
  background: url('../img/title/novgorod-title.png') 0 0 no-repeat;
  width: 102px;
  height: 33px;
  top: 400px;
  left: 340px;
}

.petrozavodsk-title {
  background: url('../img/title/petrozavodsk-title.png') 0 0 no-repeat;
  width: 115px;
  height: 23px;
  top: 315px;
  left: 299px;
}

.arkhangelsk-title {
  background: url('../img/title/arkhangelsk-title.png') 0 0 no-repeat;
  width: 69px;
  height: 29px;
  top: 364px;
  left: 467px;
}

.moscow-title {
  background: url('../img/title/moscow-title.png') 0 0 no-repeat;
  width: 61px;
  height: 21px;
  top: 447px;
  left: 349px;
}

.rostov-title {
  background: url('../img/title/rostov-title.png') 0 0 no-repeat;
  width: 96px;
  height: 21px;
  top: 570px;
  left: 260px;
}

.krasnodar-title {
  background: url('../img/title/krasnodar-title.png') 0 0 no-repeat;
  width: 67px;
  height: 30px;
  top: 610px;
  left: 245px;
}

.ulyanovsk-title {
  background: url('../img/title/ulyanovsk-title.png') 0 0 no-repeat;
  width: 58px;
  height: 32px;
  top: 555px;
  left: 400px;
}

.kazan-title {
  background: url('../img/title/kazan-title.png') 0 0 no-repeat;
  width: 40px;
  height: 31px;
  top: 508px;
  left: 435px;
}

.chelni-title {
  background: url('../img/title/chelni-title.png') 0 0 no-repeat;
  width: 112px;
  height: 25px;
  top: 525px;
  left: 457px;
}

.murmansk-title {
  background: url('../img/title/murmansk-title.png') 0 0 no-repeat;
  width: 72px;
  height: 22px;
  top: 260px;
  left: 484px;
}

.krasnoyarsk-title {
  background: url('../img/title/krasnoyarsk-title.png') 0 0 no-repeat;
  width: 74px;
  height: 21px;
  top: 639px;
  left: 831px;
}

.krasnoyarskiy-title {
  background: url('../img/title/krasnoyarskiy-title.png') 0 0 no-repeat;
  width: 65px;
  height: 21px;
  top: 373px;
  left: 832px;
}

.irkutsk-title {
  background: url('../img/title/irkutsk-title.png') 0 0 no-repeat;
  width: 43px;
  height: 33px;
  top: 665px;
  left: 962px;
}

.habarovsk-title {
  background: url('../img/title/habarovsk-title.png') 0 0 no-repeat;
  width: 59px;
  height: 35px;
  top: 570px;
  left: 1290px;
}

.vladivostok-title {
  background: url('../img/title/vladivostok-title.png') 0 0 no-repeat;
  width: 73px;
  height: 34px;
  top: 669px;
  left: 1318px;
}