.superslider__prev {
	background: url("@{path-img}icons-s51a623a2b8.png") 0 -642px no-repeat;
	width: 60px;
	height: 61px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: @padding-base-horizontal;
	cursor: pointer
}