.superslider__prev {
	background: url("@{path-img}icons-s51a623a2b8.png") 0 -642px no-repeat;
	width: 60px;
	height: 61px;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	left: @padding-base-horizontal;
	cursor: pointer
}

@media only screen and (max-width: 840px) {
	.superslider__prev {
		display: none;
	}
}

@media only screen and (max-width: 600px) {
	.superslider__prev {
		display: none;
	}
}