@import "__header/page-kp-block__header";
@import "__category/page-kp-block__category";

.page-kp-block__in {
	.clearfix();
	width: @container-kp-width;
	padding: 0 @container-kp-padding 70px;
	margin: 0 auto;
	position: relative;
}