.search .search__showall {
	color: #AF0A4E;
	text-decoration: none;
	font-size: 14px;
	display: inline-block;
	margin-top: 3px
}

.search.search_wide .search__filter .search__showall {
	margin-top: 6px
}