.cycle-carousel-wrap {
	> div {
		margin-right: 40px;
		.item {
			position: relative;
			width: 392px;
			min-height: 392px;
			img {
				max-width: 100%;
				display: block;
			}
			div {
				.font__MyriadPro-Light;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				background: @white-transparent-8;
				color: @text-color;
				height: 50%;
				white-space: normal;
				padding: 31px 8px 29px 35px;
				h1 {
					line-height: 1;
					font-size: 30px;
					letter-spacing: -2px;
					word-spacing: -2px;
					margin-bottom: 19px;
				}
				p {
					font-size: 16px;
					line-height: 19px;
				}
			}
		}
	}
}