@import "__heading/signin-form__heading";
@import "__form-control/signin-form__form-control";
@import "__checkbox/signin-form__checkbox";
@import "__btn-submit/signin-form__btn-submit";
@import "__btn-close/signin-form__btn-close";

.signin-form__container {
	position: relative;
	margin: 0 auto;
	width: 300px;
}