//**************************************
// Colors
//**************************************

// basic palette
@WHITE-color-base:						#FFF;
@CLOUDS-color-base:						#ECF0F1;
@SILVER-color-base:						#BDC3C7;
@CONCRETE-color-base:					#95A5A6;
@ASBESTOS-color-base:					#7F8C8D;
@ALIZARIN-color-base:					#E74C3C;
@CARROT-color-base:						#e67e22;
@ORANGE-color-base:						#f39c12;
@SUN-FLOWER-color-base:					#F1C40F;
@NEPHRITIS-color-base:					#27ae60;
@EMERALD-color-base:					#2ECC71;
@TURQUOISE-color-base:					#1abc9c;
@GREEN-SEA-color-base:					#16a085;
@BELIZE-HOLE-color-base:				#2980b9;
@PETER-RIVER-color-base:				#3498DB;
@AMETHYST-color-base:					#9b59b6;
@WISTERIA-color-base:					#8e44ad;
@MIDNIGHT-BLUE-color-base:				#2c3e50;
@WET-ASPHALT-color-base:				#34495e;
@CELADON-color-base:					#0e2b39;
@BLACK-color-base:						#000;
/// basic palette

// logo palette
@logo-color-1:							#8E3251;
@logo-color-2:							#B44237;
@logo-color-3:							#DC6E4B;
/// logo palette

// element colors
@text-color:							lighten(@BLACK-color-base, 22%);
@nav-color:								@text-color;

@link-color:							#B2004D;
@headline-color:						@link-color;
@headline-color-modal:					lighten(@BLACK-color-base, 50%);
@headline-kp-color:						#891924;
@page-kp-block-border-bg-1:				lighten(@BLACK-color-base, 13%);
@substrate:								#F76439;
@nav-color-active:						#FF4A15;
@btn-bg:								@substrate;
@btn-text-color:						@WHITE-color-base;
@btn-shadow:							rgba(245, 101, 65, 0.4);
@footer-bg:								lighten(@BLACK-color-base, 20.39%);
@footer-text-color:						lighten(@BLACK-color-base, 54.9%);
@footer-text-hover-color:				lighten(@BLACK-color-base, 75%);
@panel-black-bg:						@BLACK-color-base;
@panel-black-h-color:					lighten(@panel-black-bg, 85%);
@panel-black-text-color:				lighten(@panel-black-bg, 50%);
@panel-black-text-hover-color:			lighten(@panel-black-bg, 90%);
@panel-black-devider-bg:				lighten(@panel-black-bg, 50%);
@white-transparent-8:      rgba(255, 255, 255, .8);

@allow:									@NEPHRITIS-color-base;
@black:                     #000;
@dark:                      #333;
@deep-gray:                   #7F7F7F;
@white:                     #FFF;
@magenta:                                       #B2004D;
@dark-red:                                      #822126;

@button-bg:                   #F56541;

@tooltip-bg:                  @black;
@tooltip-text:                  @white;
@superslirer-overay:              fadeOut(@black, 50%);
@searchicon-bg:                 fadeOut(@white, 30%);
@popup-bg:                    fadeOut(@white, 30%);
@popup-devider-color-dark:            fadeOut(@black, 70%);
@popup-devider-color-light:           fadeOut(@white, 70%);
@border-color:                  #B2B2B2;
/// element colors

//**************************************
// Metric
//**************************************

@container-kp-width:					714px;
@container-kp-padding:					16px;
@kp-product-description-items-padding:	0 @kp-columns-padding-right 0 96px;
@kp-columns-padding-right:				8px;

@brd-radius-xs:						2px;
@brd-radius-s:						4px;
@brd-radius-m:						6px;
@brd-radius-l:						8px;
@brd-radius-xl:						10px;

@topbar:                    66px;
@air:                     16px;
@radius-mid:                  4px;
@radius-min:                  2px;
@search-switcher-height:            56px;
@superslider-height:              76vh;
@search_wide-width-small:           32px;
@padding-base-horizontal:           30px;