.header__right {
	position: relative;
	margin: 24px 0 48px;
	top: auto;
	right: auto;
	bottom: auto;
	left: auto;
	text-align: center;
	.login {
		.btn-contoured-l-block;
		margin: 8px auto;
		display: inline-block;
		width: 124px;
		box-shadow: none;
	}
}