.superslider__next {
	background: url("@{path-img}icons-s51a623a2b8.png") 0 -407px no-repeat;
	width: 61px;
	height: 61px;
	position: absolute;
	top: 50%;
	cursor: pointer;
	margin-top: -30px;
	right: @padding-base-horizontal;
	margin-right: 0;
}