.mxn-buttons-s {
	font-size: 12px;
	text-transform: uppercase;
	color: #FFF;
	background: #F56541;
	-webkit-box-shadow: 0 4px 10px rgba(245, 101, 65, 0.4);
	box-shadow: 0 4px 10px rgba(245, 101, 65, 0.4);
	text-decoration: none;
	height: auto;
	line-height: 20px;
	padding: 2px 20px 0;
	display: inline-block;
}