.view {
	list-style: none;
	float: right;
	text-align: right;
	position: relative;
	z-index: 10;
	top: -6px;
	a {
		display: inline-block;
		vertical-align: middle;
//		height: 36px;
//		padding: 0 @padding-base-horizontal;
		font-size: 16px;
		text-decoration: none;
		color: #383838;
		margin-left: 21px;
		padding: 0 32px;
		line-height: 36px;
		&.is-active {
			color: white;
			background: #F56541
		}
	}
}