.eventslider__prev, .eventslider__next {
	position: absolute;
	width: 5.14%;
	top: 0;
	bottom: 0;
	left: 0;
	cursor: pointer;
	i {
		background: url("@{path-img}icons-s51a623a2b8.png") 0 -713px no-repeat;
		width: 20px;
		height: 37px;
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -18px;
	}
}