.dd3-content {
	@import "../editBtnCountry/editBtnCountry";
	@import "../editBtnRegion/editBtnRegion";
	border: 1px solid @admin-border-color-dark;
	overflow: hidden;
	&:hover {
		color: @text-color;
	}
	div {
		&:last-of-type {
			float: right;
		}
	}
}

.dd3-handle {
	border: 1px solid @admin-border-color-dark;
}

.dd-item.is-active {
	.dd3-content {
		background: linear-gradient(to bottom, #FFF5F2 0%, #FFEAE5 100%);
		color: @nav-color-active;
		&:hover {
			color: @nav-color-active;
		}
		a {
			&:hover {
				color: @nav-color-active;
			}
		}
	}
}