.appeal_content {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	color: @text-color;
	background: @white-transparent-8;
	width: 33.1%;
	border: 0 none;
	box-shadow: 0 0 0;
	border-radius: 0;
	article {
		padding: 61px 70px 85px 32px;
	}
	h1 {
		float: none;
		width: auto;
		color: @text-color;
		margin-left: 0;
	}
}