.catslider__next {
  background: url("../assets/img/icons-s51a623a2b8.png") 0 -478px no-repeat;
  width: 21px;
  height: 37px;
  position: absolute;
  right: 29px;
  cursor: pointer;
  top: 50%;
  margin-top: -18.5px;
}