.contacts {
	margin-top: 29px;
	padding: 100px 0 100px 70px;
}

.contacts.contacts__adress h1,
.contacts.contacts__branches h1,
.contacts.contacts__distributors__block h1 {
	font-size: 32px;
	font-family: mr, "Myriad Pro Light", Arial, sans-serif;
	text-transform: uppercase;
	color: #B1004C;
	margin-bottom: 6px;
}

.contacts p {
	font-size: 16px;
	font-family: mr, "Myriad Pro Light", Arial, sans-serif;
	color: #000;
	line-height: 19px;
}

.contacts.contacts__on-off {
	margin-top: 42px;
}

.contacts.contacts__border__block {
	width: 287px;
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	padding-left: 17px;
	float: left;
	min-height: 90px;
	border-left: 2px solid #F66338;
}

.contacts.contacts__border__block h2 {
	margin-top: -2px;
	font-size: 24px;
	line-height: 20px;
	font-family: mr, "Myriad Pro Light", Arial, sans-serif;
	text-transform: uppercase;
	color: #B1004C;
}

.contacts.contacts__border__block p {
	margin-top: 8px;
}

.contacts.contacts__border__block p:last-child {
	margin-bottom: 15px;
}

.contacts.contacts__border__block .contacts__block__large {
	font-size: 18px;
	margin-top: 18px;
	line-height: 22px;
}

.contacts.contacts__border__block .contacts__block__large span {
	font-family: mr, "Myriad Pro", Arial, sans-serif;
	font-weight: bold;
}

.contacts.contacts__branches {
	margin-top: 61px;
}

.contacts.contacts__branches h1 {
	margin-bottom: 21px;
}

.contacts.contacts__branches p {
	margin-top: -1px;
}

.contacts.contacts__branches .contacts__block__large {
	margin-top: -5px;
}

.contacts.contacts__distributors {
	margin-top: 32px;
}

.contacts.contacts__distributors.contacts__block {
	width: 287px;
	float: left;
}

.contacts.contacts__distributors.contacts__block p {
	margin-top: 8px;
}

.contacts.contacts__distributors.contacts__block p:last-child {
	margin-bottom: 15px;
}

.contacts.contacts__distributors.contacts__block .contacts__block__large {
	font-size: 18px;
	margin-top: 7px;
	line-height: 22px;
}

.contacts.contacts__distributors.contacts__block .contacts__block__large span {
	font-family: mr, "Myriad Pro", Arial, sans-serif;
	font-weight: bold;
}
